/* 
* @Author: Administrator
* @Date:   2017-10-10 10:20:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 17:10:38
*/ 
@import url('base.css');

/* 头部开始 */
header{
	width: 100%;
	height: 1rem;
	background: #ff8402;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.header-left{
	width: 0.55rem;
	height: 0.55rem;

}
.header-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-zhong{
	width: 4rem;
	height: 0.6rem;
	position: relative;

}
.header-shuruk{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	background: #fff;
	color: #000;
	border-radius: 0.2rem;
}
.header-sousuo{
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 0.02rem solid #fff;
}

.header-right{
	width: 0.45rem;
	height: 0.45rem;
}
.header-right img{
	display: block;
	width: 100%;
	height: 100%;
}


/* 头部结束 */
 /* 广告开始 */
 .banner{
 	display: block;
 	width: 100%;
 	height: 2.22rem;
 	background: red;
 	margin: 0 auto;
 	margin-top: 1rem;
 	position: relative;

 }
 .banner a{
 	display: block;
 	width: 6.4rem;
 	height: 2.22rem;
 }
 .banner a img{
 	display: block;
	width: 6.4rem;
	height: 2.22rem;
 }
 .dian-box{
 	width: 1.6rem;
    height: 0.1rem;
    float: right;
    position: absolute;
    bottom: 0.23rem;
    right: 2.5rem;
 }
 .dian{
 	width: 0.12rem;
    height: 0.12rem;
    float: left;
    background: #fff;
    margin: 0 0.02rem;
    border: 0.02rem solid #e7e7e7;
    border-radius: 50%;
    cursor: pointer;
 }
 .dian:nth-child(3){
 	background: #ff5000;
 }
 /* 广告结束 */
/* 导航列表开始 */
.navdhz{
	width: 100%;
	height: 1.5rem;
	margin-top: 0.2rem
}
.navhz{
	width: 100%;
	height: auto;
}
.navhz li{
	width: 20%;
	height: auto;
	overflow: hidden;
	float: left;
	margin-bottom: 0.32rem;
}
.navtp{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	margin: 0 auto;
}
.navtp img{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
    margin-top: 0.08rem;
}
.navwenzi{
	display: block;
	font-size: 0.22rem;
	text-align: center;
	margin-top: 0.15rem;
	text-decoration: none;
	color: #000;
}
/* 导航列表结束  */

/* 抢购开始 */
.qianggou{
	width: 100%;
	height: 4rem;
	display: flex;
	flex-wrap: wrap;
}
.qianggoudhz{
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: center;

}
.qianggou-box{
	width: 50%;
	height: 2rem;
	border-bottom: 0.02rem solid #eeeeee;
	border-right: 0.02rem solid #eeeeee;
	box-sizing: border-box;
	flex-grow: 0;
	text-align:  match-parent;
	flex-wrap: wrap;
	display: flex;

 }
.qianggou-box:nth-child(2){
	border-right: 0;
}
.qianggou-box:last-child{
	border-right: 0;
}
.qianggou-boxhz{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.qianggou-top{
	width: 100%;
	height: 40%;
	margin-left: 0.28rem;
	margin: ;
	display: flex;
	flex-direction: column;
	
}
.qianggou-top1{
	width: 100%;
	height: 60%;
	font-size: 0.38rem;
	line-height: 100%;
	color: #d22529;
}
.qianggou-top2{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: row;
}
.qianggou-top3{
	width: 17%;
	height: 90%;
	background: #d22529;
	border-radius: 0.1rem;
	font-size: 0.18rem;
	line-height: 100%;
	color: #fff;
}
.qianggou-top3m{
	width: 8%;
	height: 100%;
	color: red;
	font-size: 0.18rem;
	line-height: 100%;
	text-align: center;
}
.qianggou-top-1{
	width: 100%;
	height: 60%;
	font-size:0.32rem; 
	color: #299ff6;
}

.qianggou-top-2{
	width: 100%;
	height: 40%;
	font-size: 0.18rem;
	color: #989898;
}


.qianggou-top-3{
	width: 100%;
	height: 60%;
	font-size:0.32rem; 
	color: #299ff6;
}
.qianggou-top-4{
	width: 100%;
	height: 60%;
	font-size:0.32rem; 
	color: #f83e4c;
}
.qianggou-left{
	width: 100%;
	height: 60%;
}
.qianggou-right{
	display: block;
	width: 50%;
	height: 100%;
	align-self: flex-end;
}
.qianggou-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.qianggou-right img{
	display: block;
	width: 100%;
	height: 100%;
}

/* 抢购结束 */
/* 全球开始*/
.quanqiubt{
	width: 100%;
	height: 0.5rem;
	background: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.quanqiubty{
	width: 30%;
	height: 0.3rem;
	background: #ff6600;
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	font-size: 0.12rem;
	color: #fff;
	text-align: center;
}

.quanqiu{
	width: 100%;
	height: 6.5rem;
	display: flex;
	flex-direction: column;
}

.quanqiudhz{
	width: 100%;
	height: calc(100% / 3);
	display: flex;

}
.quanqiuxhz a img {
	display: block;
	width: 100%;
	height: 100%;
}

.quanqiudhz li:first-child{
	width: 70%;
	height: 100%;
}
#quanqiutp2{
	display: block;
	width: 100%;
	height: 70%;
}
.quanqiudhz li:last-child{
	width: 30%;
	height: 100%;
	border-bottom: 0.02rem solid #eeeeee;
	box-sizing: border-box;
}
.quanqiudhz1{
	width: 100%;
	height: calc(100% / 3);
	display: flex;
}
.quanqiudhz1 li{
	width: 50%;
	height: 100%;
	border-bottom: 0.02rem solid #eeeeee;
	border-right: 0.02rem solid #eeeeee;
	box-sizing: border-box;
}
.quanqiutp{
	display: block;
	width: 100%;
	height: 100%;
}
.quanqiu-top{
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	
}
.quanqiu-top-1{
	width: 70%;
	height: 60%;
	margin-left: 0.28rem;
	font-size:0.32rem; 
	color: #333;
}
.quanqiu-top-2{
	width: 70%;
	height: 40%;
	margin-left: 0.28rem;
	font-size: 0.12rem;
	color: #989898;
}
.quanqiutp img{
	display: block;
	width: 100%;
	height: 70%;
}
/* 全球结束*/
/* 时尚开始 */
.shishangbt{
	width: 100%;
	height: 0.5rem;
	background: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* 时尚结束 */
/* 猜你喜欢 */
.cnxhbt{
	width: 100%;
	height: 0.62rem;
	background: #f0f0f0;
	margin-top: 0.1rem;

}
.cnxhbthzleft{
	float: left;
	width: 0.28rem;
	height: 0.02rem;
	background: #999999;
	margin-top: 0.32rem;
}		
.cnxhbthzright{
	float:left;
	width: 0.28rem;
	height: 0.02rem;
	background: #999999;
	margin-top: 0.32rem;
}
.cnxhbthz{
	width: 2.06rem;
	height: 100%;
	margin: 0 auto;
}
.zhongjian4{
	float: left;
	width: 1.44rem;
	height:100%;
}

.cnxhbthzzhong{
	margin-left: 0.3rem;
	float: left;
	width: auto;
	height: 0.3rem;
	margin-left:0.2rem;
	margin-right:0.2rem;
	margin-top: 0.16rem;
	font-size: 0.26rem;
	text-align: center;
	color: #999999;
}

.lovemainbox{
	width: 100%;
	height: 27.5rem;
	margin-bottom: 1.22rem;
}
.lovemainhead{
	width: 100%;
	height: 100%;
}
.lovemainhead li{
	width: 50%;
	height: auto;
	float: left;
	margin-bottom: 0.1rem;
}


.loveimg{
	display: block;
	width: 100%;
	height: 3.17rem;
}
.loveh1{
	margin-top: 0.14rem;
	display: block;
	width: 90%;
	height: auto;
	font-size: 0.2rem;
	color: #66667d;
	margin-left: 0.17rem;
	overflow: hidden;
	line-height: 0.25rem;
}
.love1 p{
	height: auto;
	line-height: 0.24rem;
	margin-bottom: 0.2rem;
}
.love2 p{
	height: auto;
	margin-bottom: 0.1rem;
}
.loveh2{
	margin-top: 0.20rem;
	display: block;
	width: 90%;
	height: 0.23rem;
	font-size: 0.23rem;
	color: #dd2727;
	margin-left: 0.17rem;		
}
.loveimg img{
	display: block;
	width: 100%;
	height: 100%;
}
   



/* 底部开始 */
footer{
		width: 100%;
		height: 1.2rem;
		background: white;
		position: fixed;
		left: 0;
		bottom: 0;

}
.foot{
		width: 100%;
		height: 100%;
		/* background: yellow; */
		display: flex;
		justify-content: space-around;
}
.foot li a{
		width: 1.09rem;
		height: 100%;
		/* background: red; */
		display: flex;
		align-content: space-between;
		flex-wrap: wrap;
}
.footicf{
		flex-basis: 100%;
		
		height: 0.85rem;
		font-size: 0.64rem;
		text-align: center;
		line-height: 0.9rem;
		color: #636563;

}
.foottext{
		flex-basis: 100%;
		height: 0.46rem;
		font-size: 0.24rem;
		text-align: center;
		color: #9c9e9c;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:0.64rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.foot li:first-child .footicf{
		color: #ff6600;
}
.foot li:first-child .foottext{
		color: #ff6600;
}