@import url('base.css');
/* 头部开始 */
header{
	width: 100%;
	height: 1rem;
	background: #ff8402;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.header-left{
	width: 0.55rem;
	height: 0.55rem;

}
.header-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-zhong{
	width: 4rem;
	height: 0.6rem;
	position: relative;

}
.header-shuruk{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	background: #fff;
	color: #000;
	border-radius: 0.2rem;
}
.header-sousuo{
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 0.02rem solid #fff;
}

.header-right{
	width: 0.45rem;
	height: 0.45rem;
}
.header-right img{
	display: block;
	width: 100%;
	height: 100%;
}
/* 头部结束 */
/* 标题文字开始 */
.btwz{
	width: 100%;
	height: 0.8rem;
	margin-top: 1rem;
	font-size: 0.4rem;
	line-height: 0.8rem;
	text-align: center;
}
/* 标题文字结束 */

.fl{
	width: 100%;
	height: auto;
	display: flex;
}
.fl-right{
	width: 30%;
}
.fl-left{
	width: 70%;
	height: auto;
}
.fl-right ul{
	width: 100%;
	height: auto;	
	margin-bottom: 1.2rem;
}
.fl-right ul li{
	width: 100%;
	height: 1rem;
	font-size: 0.3rem;
	line-height: 1rem;
	text-align: center;
	border-bottom: 0.02rem solid #000;

}
.fl-right ul li:nth-child(2){
	color: #ff6600;
}
.fl-left ul{
	width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}
.fl-left ul li{
	display: block;
	width: 40%;
	height: auto;
	padding: 0.2rem;
}
.fl-left ul li img{
	display: block;
	width: 100%;
	height: 2rem;
}
.fl-left ul li h6{
	font-size: 0.3rem;
	text-align: center;
	color: #000;
}
/* 底部开始 */
footer{
		width: 100%;
		height: 1.2rem;
		background: white;
		position: fixed;
		left: 0;
		bottom: 0;

}
.foot{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
}
.foot li a{
		width: 1.09rem;
		height: 100%;
		display: flex;
		align-content: space-between;
		flex-wrap: wrap;
}
.footicf{
		flex-basis: 100%;
		height: 0.85rem;
		font-size: 0.64rem;
		text-align: center;
		line-height: 0.9rem;
		color: #636563;

}
.foottext{
		flex-basis: 100%;
		height: 0.46rem;
		font-size: 0.24rem;
		text-align: center;
		color: #9c9e9c;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:0.64rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.foot li:nth-child(2) .footicf{
		color: #ff6600;
}
.foot li:nth-child(2) .foottext{
		color: #ff6600;